@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* body::before {
  display: block;
  content: "";
  height: 30px;
} */
.image-fluid {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../assets/images/D1.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-bar {
  margin-left: -5;
}

.header {
  text-align: center;
  margin-top: 1rem;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-btn {
  border-radius: 10px;
  background-color: #fff;
  width: 100px;
  height: 40px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-right: 12rem;
  margin-top: 10rem;
}

.btn-btn:hover,
.btn-btn:focus {
  background-color: orange;
  transform: scale(1.1);
  filter: brightness(1.1);
}

.one {
  display: flex;
}

#header {
  margin-top: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.btn-btn {
  margin-top: 5em;
}
#btn {
  color: #000;
  background-color: #fff;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

#btn:hover {
  background-color: orange;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  width: 15em;
  animation: type 5s steps(50, end);
  margin-left: 10em;
  margin-right: 10em;
  white-space: nowrap;
  overflow: hidden;
  width: 50em;
  animation: type 10s steps(50, end);
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 40rem;
  }
}
*/ p {
  display: inline-block;
  transform: translateY(65%);
  opacity: 0;

  width: 10px;
}

.header {
  font-size: 2vw;
  text-align: center;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1.8px;
}

.button {
  background-color: #fff;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
}
