.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: orange;
  border-radius: 8px;
}

#nav1 {
  background-color: #f00; /*whichever you want*/
  opacity: 0.6;
  filter: (opacity=70);
}
