.carouselImg {
  width: 100vw;
  height: auto;
  /* sizes:"(min-width: 36em) 33.3vw, 100vw" */
}
.titleDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes projTitleBackground {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.568);
  }
}

.projectTitleContainer {
  animation-name: projTitleBackground;
  animation-duration: 10s;
  width: 20vw;

  transform: translate(0px 100px);
}

@keyframes projTitleAppearing {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}
.projectTitle {
  animation-name: projTitleAppearing;
  animation-duration: 9s;
  font-size: 1.7vw;
  padding: 0.7%;
  margin-bottom: 0.5%;
}

.projectDescription {
  background-color: rgba(255, 255, 255, 0.568);
  color: rgb(0, 0, 0);
  font-size: 1.7vw;
  width: fit-content;
  padding: 0.7%;
}
.testimonialImg {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.imgAndInfoContainer {
  text-align: center;
}

.testimonialText {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: white;
  padding-top: 10px;
}

.testimonialHeaderTextContainer {
  margin-top: 40px;
  text-align: center;
}

.testimonialHeaderText {
  margin-bottom: 0px;
}
/* .horizontalDivider {
  color: #000000;
  padding: 1px 0px;
  text-align: center;
} */

.testimonialSliderContainer {
  margin: 10px 0px 20px 0px;
  padding: 10px 0px 20px 5px;
}
.testimonialBox {
  background-color: #f58634;
  padding: 15px;
  border-radius: 7px;
}
.nameTestimony {
  font-weight: bolder;
}

.roleTestimony {
  font-size: 0.8em;
}
